@import "reset.css";
@import "fonts.css";

.content-wrapper {
    width: 1366px;
    height: 768px;
    background: url("../images/bg-line.png") no-repeat center top;
}

.main-page {
    position: relative;
    width: 100%;
    height: 15%;
}

.main-title {
    position: absolute;
    top: 20px;
    padding-left: 30px;
    font: 300 54px 'Segoe';
}

.grid-items-container {
    display: grid;
    grid-auto-rows: 190px;
    padding: 30px;
}

.grid-items-container img {
    padding: 3px;
}

.grid-items-container a {
    position: relative;
    bottom: 55px;
    display: block;
    padding: 15px;
    font: 300 22px 'Segoe';
    color: #010101;
    background: rgba(255, 252, 252, .75);
    z-index: 1;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.item1,
.item2,
.item3,
.item4 {
    grid-row: 1;
}

.item5,
.item6,
.item7,
.item8 {
    grid-row: 2;
}

.item9,
.item10,
.item11,
.item12 {
    grid-row: 3;
}

.item1 {
    grid-column: 1;
}

.item2 {
    grid-column: 2;
}

.item3 {
    grid-column: 3;
}

.item4 {
    grid-column: 4/6;
}

.item5 {
    grid-column: 2;
}

.item6 {
    grid-column: 3;
}

.item7 {
    grid-column: 4;
}

.item8 {
    grid-column: 5;
}

.item9 {
    grid-column: 1;
}

.item10 {
    grid-column: 2;
}

.item11 {
    grid-column: 4;
}

.item12 {
    grid-column: 5;
}

.item4 img {
    width: 465px;
    height: 180px;
}

/* T-shirts store page */

.store-page {
    position: relative;
    width: 100%;
    height: 15%;
}

.t-shirts-wrapper {
    width: 1366px;
    height: 768px;
    background: url("../images/bg-line.png") no-repeat center top;
}

.t-shirt-items-container {
    display: flex;
    padding: 30px;
}

.t-shirt-items-container a {
    position: absolute;
    top: 35px;
    left: 30px;
}

.t-shirt-items-container img {
    padding: 3px;
}

.t-shirt-items-container p {
    position: relative;
    bottom: 12%;
    padding: 15px;
    font: 300 22px 'Segoe';
    color: #010101;
    background: rgba(255, 252, 252, .75);
    text-decoration: none;
}

.basket {
    position: absolute;
    top: 25px;
    right: 30px;
    width: 250px;
    padding: 10px;
    background: #f26632;
}

.basket a {
    display: flex;
    justify-content: space-between;
}

.basket span {
    font: 300 26px 'Segoe';
    color: #fff;
}

.title {
    position: absolute;
    top: 20px;
    left: 100px;
    font: 300 56px 'Segoe';
}

.t-shirt-item4 img {
    width: 360px;
    height: 370px;
}

.selection-block {
    position: relative;
    bottom: 10%;
    display: flex;
    justify-content: space-between;
    width: 91%;
    height: 50px;
    padding: 15px;
    color: #fff;
    background: #4ea686;
    text-decoration: none;
}

.selection-block input {
    padding: 10px 15px;
    font-size: 25px;
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
}

.selection-block span {
    font: 300 20px 'Segoe';
}

/* cart page */

.cart-page {
    width: 100%;
    height: 15%;
}

.cart-wrapper {
    width: 1366px;
    height: 768px;
    background: url("../images/bg-line.png") no-repeat center top;
}

.back img {
    position: absolute;
    top: 35px;
    left: 30px;
}

.shop-list {
    padding: 30px 100px;
    width: 35%;
    font: 300 16px 'Segoe';
}

.shop-list div {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.titles {
    font: 300 20px 'Segoe';
}

.titles span:nth-child(2) {
    width: 40px;
}

.fa-trash-alt {
    padding: 4px;
    width: 25px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}

.shop-list div:nth-child(2n+1) {
    background: #d9644a;
}

.shop-list div:nth-child(2n) {
    background: #bf613f;
}

.shop-list div:nth-child(8) {
    background: #343e40;
}

.shop-list div:nth-child(9) {
    background: #4ea686;
}

.shop-list-item span:first-of-type{
    width: 180px;
}

.shop-list-item span:last-of-type{
    width: 145px;
    text-align: right;
}

.shop-list input {
    width: 20px;
    height: 20px;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}

.shop-list span {
    color: #fff;
}

input.clear-all,
input.continue,
input.buy {
    height: 30px;
    border: 1px solid #fff;
    cursor: pointer;
}

input.clear-all {
    width: 115px;
}

input.continue {
    width: 150px;
}

input.buy {
    width: 100px;
}

.buttons-wrapper {
    margin: 10px 0;
}

.total-sum {
    font: 300 20px 'Segoe';
    color: #fff;
}



